apiVersion: v1
kind: Pod
metadata:
  name: test01
spec:
  containers:
     - name: container1
       image: nginx:1.23
       ports:
        - containerPort: 80
          hostPort: 8080
          name: nginx
          protocol: TCP 